	body
	{
#		color: #003;
#		background: #EEE;
		margin: 0;
		line-height: 1.1em;
	}
	
	p
	{
		margin: 0;
	}
	
	img
	{
		vertical-align: middle;
	}
	
	.incoming_row, .outgoing_row, .incoming_row_context, .outgoing_row_context, .status_row
	{
		font-family: Lucida Grande;
		font-size: 14px;
		line-height: 14px;
	}
	
	.incoming_row, .incoming_row_context
	{
		height: 16px;
#		padding: 3px 10px;
#		color: #0000FF;
	}

	.outgoing_row, .outgoing_row_context
	{
		height: 16px;
#		padding: 3px 10px;
#		color: #FF0000;
	}
	
	.status_row
	{
		text-align: center;
		margin-bottom: 2px;
#		color: #000000;
		
	}

	.message_incoming, .message_outgoing, .message_incoming_context, .message_outgoing_context
	{
		padding: 0px 5px 5px 5px;
		font-family: Verdana;
		font-size: 14px;
	}

	.message_incoming_context, .message_outgoing_context
	{
#		color: #000;
	}
	
	.next_message
	{
#		padding: 6px 0 0 0;
		font-family: Verdana;
		font-size: 14px;
#		color: #000;
	}
			
	.timestamp
	{
		font-weight: normal;
	}
